body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.sprintTable {
    background-color: #181f4f;
    color: white !important;
    
}*/

/*general table formatting ZA*/

table {
    background-color: #181f4f;
    color: white !important;
}
tr:first-child {
    background-color: #3268a8;
}
a {
    color: #0b4d31
}



/*actionlinkien väri muuttuu tauluissa contrastin takia ZA
*/
/*table a {
    color: #bff9ff
}

p a{


}*/