@{
    ViewBag.Title = "Home Page";
}

@*SCRIPT LATAA PARTIALVIEWIN LOGININ VARTEN JOS EI OLE KIRJAUTUNUT SISÄÄN*@

@if (Session["UserName"] == null)
{
    
    Html.RenderPartial("_Login");

    @section scripts {
        <script type="text/javascript">
               $(window).on('load', function () {
                   console.log('we are in first phase');
                   if (@ViewBag.LoginError == 1 || !@ViewBag.LoginError) {
            $('#LoginRuutu').modal('show');
            console.log('we are in second phase');
        }
        });

        </script>

    }


}

<div class="jumbotron">
    <h1>Welcome to Task Master mvc application</h1>
    <p class="lead">Once you are logged in , you can brows,add, edit or remove your tasks, sprints and projects.
    Have fun!;)</p>
    
</div>

